.StartButton{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:fit-content;
    margin-top:2%;
}
#startButton{
    margin-right:5%;
}
#stopButton{
    margin-left:5%;
}