.StartButton{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:fit-content;
    margin-top:2%;
}
#startButton{
    margin-right:5%;
}
#stopButton{
    margin-left:5%;
}

@media only screen and (max-width: 900px){
    .StartButton{
        margin-bottom:6%;
    }
  }