#roundInput{
    height:100px;
    width:100px;
    font-size:4em;
    text-align: center;
}
.Rounds{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:30%;
}